espressodb>=1.2.0
Django==3.1
django-bootstrap4
django-extensions
django-widget-tweaks
pandas
markdown
django-filter
djangorestframework
djangorestframework-datatables
h5py
psycopg2
pytest
pytest-django
django_gvar
