{% extends 'base.html' %}
{% load status_extras %}

{% block head-extra %}
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<style>
    thead input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>
{% endblock %}


{% block content %}
<div class="jumbotron">
    <h1>{{title}}</h1>
    {% if subtitle %}<h5>{{subtitle}}</h2>{% endif %}
</div>
<div class="container">
    {% if status.total > 0 %}
        {% render_progress_bar status.pending 0 0 status.done status.total %}
    {% endif %}
    {% if info %}<p>{{info|safe}}</p>{% endif %}
    {{ table|safe }}
</div>
{{script|safe}}
{% endblock %}
