{% extends 'base.html' %}
{% load static %}
{% load base_extras %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to LatteDB</h1>
    <h2>A programmatic object-relational database for Lattice QCD</h2>
    <p>
        <a href="https://github.com/callat-qcd/lattedb"> LatteDB</a> is built on top of  <a href="https://github.com/callat-qcd/espressodb">EspressoDB</a>
        <br>
        See also the
        <a href="https://docs.djangoproject.com/en/2.2/ref/templates/language/">Django</a> template documentation
    </p>
</div>
<div class="container">
    <h2>This is what this file looks like</h2>
    <pre><code>
        ...
    </code></pre>
</div>
{% endblock %}